In [1]:
import bs4
from bs4 import BeautifulSoup
import requests
import pandas as pd
import time

In [2]:
analyst_url = "https://www.indeed.com/jobs?q=data+analyst&l=Washington%2C+DC&radius=50"

In [3]:
analyst_response = requests.get(analyst_url)

In [4]:
soup = BeautifulSoup(analyst_response.text, 'html.parser')

In [5]:
def indeed_title(soup): 
    jobs = []
    for div in soup.find_all(name='div', attrs={'class':'row'}):
        for a in div.find_all(name='a', attrs={'data-tn-element':'jobTitle'}):
            jobs.append(a['title'])
    return(jobs)

In [6]:
indeed_title(soup)

['Data Analyst',
 'Data Analyst IV',
 'Data Analyst',
 'Healthcare Data Analyst',
 'Business Analyst',
 'Sr. Data Analyst',
 'Data Analyst',
 'Data Intake Analyst',
 'Data Analyst (Security Clearance required)',
 'Requirements Analyst',
 'Data Analyst I',
 'Data Analyst Supporting the USPIS',
 'Business Data Analyst (Cyber)',
 'Portland, Washington DC, or London - Reduced Access Programming Data Analysis Intern',
 'Business Data Analyst',
 'Senior Data Analyst',
 'Data Analyst']

In [7]:
def indeed_company(soup): 
    companies = []
    for div in soup.find_all(name='div', attrs={'class':'row'}):
        company = div.find_all(name='span', attrs={'class':'company'})
        if len(company) > 0:
            for b in company:
                companies.append(b.text.strip())
        else:
            sec_try = div.find_all(name='span', attrs={'class':'result-link-source'})
            for span in sec_try:
                companies.append(span.text.strip())
    return(companies)

In [8]:
 indeed_company(soup)

['Seen by Indeed',
 'Common Securitization Solutions',
 'Sage Management',
 'Baltimore Medical System, Inc.',
 'Maru Solutions',
 'Tredence',
 'NewDay USA',
 'The HSC Health Care System',
 'IST Research',
 'Liberty IT Solutions',
 'CNA Corp.',
 'Forfeiture Support Associates',
 'Quasars, Inc.',
 'Mercy Corps',
 'CACI',
 'Integral',
 'spirits work']

In [9]:
def indeed_location(soup): 
    locations = []
    spans = soup.findAll("span", attrs={"class": "location"})
    for span in spans:
        locations.append(span.text)
    return(locations)

In [10]:
indeed_location(soup)

['Washington, DC 20005 (Logan Circle area)',
 'Arlington, VA',
 'Rosslyn, VA',
 'Arlington, VA 22201',
 'Washington, DC 20066 (Brentwood area)',
 'Rockville, MD',
 'Washington, DC 20036 (Downtown area)',
 'Washington, DC 20005 (Logan Circle area)']

In [11]:
df = pd.DataFrame(list(zip(indeed_title(soup), indeed_company(soup), indeed_location(soup))), columns = ['Job Title', 'Company', 'Location'])
df

,Job Title,Company,Location
0,Data Analyst,Seen by Indeed,"Washington, DC 20005 (Logan Circle area)"
1,Data Analyst IV,Common Securitization Solutions,"Arlington, VA"
2,Data Analyst,Sage Management,"Rosslyn, VA"
3,Healthcare Data Analyst,"Baltimore Medical System, Inc.","Arlington, VA 22201"
4,Business Analyst,Maru Solutions,"Washington, DC 20066 (Brentwood area)"
5,Sr. Data Analyst,Tredence,"Rockville, MD"
6,Data Analyst,NewDay USA,"Washington, DC 20036 (Downtown area)"
7,Data Intake Analyst,The HSC Health Care System,"Washington, DC 20005 (Logan Circle area)"

In [12]:
sci_url = "https://www.indeed.com/jobs?q=data+scientist&l=Washington%2C+DC&radius=50"

In [13]:
sci_response = requests.get(sci_url)

In [14]:
soup = BeautifulSoup(sci_response.text, 'html.parser')

In [15]:
indeed_title(soup)

['Data Scientist (Python/Remote)',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Undergraduate Internship/Co-op Program - Data Scientist',
 'Applied Data Scientist- Arlington, VA',
 'Data Scientist',
 'Junior Data Scientist',
 'Data Scientist',
 'Data Scientist - Entry Level',
 'Data Scientist Intern',
 'Data Analyst – Statistical Modeling',
 'Data Scientist',
 'Enterprise Analytics Data Scientist',
 'Senior Data Scientist',
 'Data Scientist - Midlevel']

In [16]:
indeed_company(soup)

['AM LLC',
 'Seen by Indeed',
 'Red Oak Strategic',
 'Verizon',
 'Central Intelligence Agency',
 'Perspecta',
 'Central Intelligence Agency',
 'Nestle USA',
 'National Security Agency',
 'Numero Data LLC',
 'NumeroData LLC',
 'Customer Value Partners',
 'Premise',
 'Nestle USA',
 'The Consortium, Inc.',
 'Nestle USA',
 'Adnet, Inc',
 'Management Science & Innovation']

In [17]:
indeed_location(soup)

['Arlington, VA',
 'Fort Meade, MD 20755',
 'Herndon, VA',
 'Herndon, VA 20170',
 'Washington, DC',
 'Washington, DC',
 'Arlington, VA',
 'Suitland, MD 20746',
 'Arlington, VA']

In [18]:
sci_df = pd.DataFrame(list(zip(indeed_title(soup), indeed_company(soup), indeed_location(soup))), columns = ['Job Title', 'Company', 'Location'])
sci_df

,Job Title,Company,Location
0,Data Scientist (Python/Remote),AM LLC,"Arlington, VA"
1,Data Scientist,Seen by Indeed,"Fort Meade, MD 20755"
2,Data Scientist,Red Oak Strategic,"Herndon, VA"
3,Data Scientist,Verizon,"Herndon, VA 20170"
4,Data Scientist,Central Intelligence Agency,"Washington, DC"
5,Data Scientist,Perspecta,"Washington, DC"
6,Undergraduate Internship/Co-op Program - Data ...,Central Intelligence Agency,"Arlington, VA"
7,"Applied Data Scientist- Arlington, VA",Nestle USA,"Suitland, MD 20746"
8,Data Scientist,National Security Agency,"Arlington, VA"

In [19]:
ml_url = "https://www.indeed.com/jobs?q=machine+learning+engineer&l=Washington%2C+DC&radius=50"

In [20]:
ml_response = requests.get(ml_url)

In [21]:
soup = BeautifulSoup(ml_response.text, 'html.parser')

In [22]:
indeed_title(soup)

['Eng 4, Machine Learning',
 'Associate Systems Engineer (Geospatial/Machine Learning)',
 'Systems Engineer',
 'Sr. Front End Software Engineer',
 'Data Engineer',
 'Software Engineer for Machine Learning Applications',
 'Full Stack Engineer',
 'Machine Learning Engineer - McLean, VA',
 'Computational / Machine Learning Engineer Intern',
 'Senior Machine Learning Engineer',
 'Reinforcement Learning Engineer',
 'Machine Learning Engineer',
 'Eng 4, Machine Learning',
 'Machine Learning Engineer',
 'Software Engineer for Machine Learning product',
 'Machine Learning (ML) Data Scientist - Washington, DC',
 'Senior Manager Machine Learning Engineer',
 'Sr. DevOps Engineer',
 'Lead Machine Learning DevOps Engineer']

In [23]:
indeed_company(soup)

['Comcast',
 'Mitre Corporation',
 'STONE Resource Group',
 'Aerial Applications',
 'Sayari Labs',
 'DECISIVE ANALYTICS Corporation',
 'Amida Technology Solutions',
 'G11 Technology Partners',
 '3M',
 'Rekor',
 'PCI',
 'Apar Technologies',
 'Comcast',
 'Virginia Tech',
 'RiskSpan',
 'G11 Technology Partners',
 'Capital One - US',
 'OneGlobe LLC',
 'DECISIVE ANALYTICS Corporation']

In [24]:
indeed_location(soup)

['McLean, VA',
 'Silver Spring, MD 20904',
 'Columbia, MD 21046',
 'Vienna, VA 22182',
 'McLean, VA',
 'Washington, DC 20005 (Logan Circle area)',
 'Washington, DC',
 'Arlington, VA',
 'Washington, DC',
 'McLean, VA']

In [25]:
ml_df = pd.DataFrame(list(zip(indeed_title(soup), indeed_company(soup), indeed_location(soup))), columns = ['Job Title', 'Company', 'Location'])
ml_df

,Job Title,Company,Location
0,"Eng 4, Machine Learning",Comcast,"McLean, VA"
1,Associate Systems Engineer (Geospatial/Machine...,Mitre Corporation,"Silver Spring, MD 20904"
2,Systems Engineer,STONE Resource Group,"Columbia, MD 21046"
3,Sr. Front End Software Engineer,Aerial Applications,"Vienna, VA 22182"
4,Data Engineer,Sayari Labs,"McLean, VA"
5,Software Engineer for Machine Learning Applica...,DECISIVE ANALYTICS Corporation,"Washington, DC 20005 (Logan Circle area)"
6,Full Stack Engineer,Amida Technology Solutions,"Washington, DC"
7,"Machine Learning Engineer - McLean, VA",G11 Technology Partners,"Arlington, VA"
8,Computational / Machine Learning Engineer Intern,3M,"Washington, DC"
9,Senior Machine Learning Engineer,Rekor,"McLean, VA"

In [26]:
df_all = pd.concat([df, sci_df, ml_df], ignore_index=True, verify_integrity=True)
df_all

,Job Title,Company,Location
0,Data Analyst,Seen by Indeed,"Washington, DC 20005 (Logan Circle area)"
1,Data Analyst IV,Common Securitization Solutions,"Arlington, VA"
2,Data Analyst,Sage Management,"Rosslyn, VA"
3,Healthcare Data Analyst,"Baltimore Medical System, Inc.","Arlington, VA 22201"
4,Business Analyst,Maru Solutions,"Washington, DC 20066 (Brentwood area)"
5,Sr. Data Analyst,Tredence,"Rockville, MD"
6,Data Analyst,NewDay USA,"Washington, DC 20036 (Downtown area)"
7,Data Intake Analyst,The HSC Health Care System,"Washington, DC 20005 (Logan Circle area)"
8,Data Scientist (Python/Remote),AM LLC,"Arlington, VA"
9,Data Scientist,Seen by Indeed,"Fort Meade, MD 20755"
10,Data Scientist,Red Oak Strategic,"Herndon, VA"
11,Data Scientist,Verizon,"Herndon, VA 20170"
12,Data Scientist,Central Intelligence Agency,"Washington, DC"
13,Data Scientist,Perspecta,"Washington, DC"
14,Undergraduate Internship/Co-op Program - Data ...,Central Intelligence Agency,"Arlington, VA"
15,"Applied Data Scientist- Arlington, VA",Nestle USA,"Suitland, MD 20746"
16,Data Scientist,National Security Agency,"Arlington, VA"
17,"Eng 4, Machine Learning",Comcast,"McLean, VA"
18,Associate Systems Engineer (Geospatial/Machine...,Mitre Corporation,"Silver Spring, MD 20904"
19,Systems Engineer,STONE Resource Group,"Columbia, MD 21046"
20,Sr. Front End Software Engineer,Aerial Applications,"Vienna, VA 22182"
21,Data Engineer,Sayari Labs,"McLean, VA"
22,Software Engineer for Machine Learning Applica...,DECISIVE ANALYTICS Corporation,"Washington, DC 20005 (Logan Circle area)"
23,Full Stack Engineer,Amida Technology Solutions,"Washington, DC"
24,"Machine Learning Engineer - McLean, VA",G11 Technology Partners,"Arlington, VA"
25,Computational / Machine Learning Engineer Intern,3M,"Washington, DC"
26,Senior Machine Learning Engineer,Rekor,"McLean, VA"

In [27]:
df_all.to_csv("indeed_jobs.csv", index=False)

In [28]:
import psycopg2

In [29]:

try:
    connection = psycopg2.connect(user = "postgres",
                                  password = "Swissbeats33",
                                  host = "127.0.0.1",
                                  port = "5432",
                                  database = "ETL Project")
    cursor = connection.cursor()

# Print PostgreSQL Connection properties
    print( connection.get_dsn_parameters(),"\n")
    # Print PostgreSQL version
    cursor.execute("SELECT version();")
    record = cursor.fetchone()
    print("You are connected to - ", record,"\n")
except (Exception, psycopg2.Error) as error :
    print ("Error while connecting to PostgreSQL", error)
# finally:
#     #closing database connection.
#         if(connection):
#             cursor.close()
#             connection.close()
#             print("PostgreSQL connection is closed")

{'user': 'postgres', 'dbname': 'ETL Project', 'host': '127.0.0.1', 'port': '5432', 'tty': '', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

You are connected to -  ('PostgreSQL 12.0, compiled by Visual C++ build 1914, 64-bit',)

In [32]:
import csv
with open ('Indeed_jobs.csv', 'r') as f:
    reader = csv.reader(f)
    next (reader) #Skip the header row
    for row in reader:
        cursor.execute(
        "INSERT INTO data_job_postings VALUES (%s, %s, %s)", row)
        row
    connection.commit()